extends layout.pug
block content
    .container.mx-auto.text-center
        h1 Como funciona
        p Assista o video abaixo
    .container.mx-auto.items-center.p-8.text-center
        iframe(src="https://www.youtube.com/embed/AUlNVZtpqMc", frameborder="0", class="sm:w-full sm:h-1/4 h-2/4 w-2/4")