extends layout.pug

block content
    .text-center.space-y-4
        h1 Plataforma de Negocios Digitais
        p Receba propostas e aumente seu faturamento
    div(class="sm:p-8").text-center.p-24
        a(href="/new").bg-gradient-to-r.from-green-300.to-blue-400.rounded.px-8.py-2 Iniciar
