doctype html
html(lang='pt')
  head
    title w7social
    link(rel="stylesheet", href="../style/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="w7social")
  body
    nav.flex.items-center.justify-between.p-6.container.mx-auto
            a(href="/")
                p logo
            div(class="lg:flex").text-lg.text-gray-600.hidden
                a(href="#", class="lg:mt-0 lg:inline-block").block.mt-4.text-teal-600.mr-10 Idioma
                a(href="/login", class="lg:mt-0 lg:inline-block").block.mt-4.text-teal-600.mr-10 Login
                a(href="#", class="lg:mt-0 lg:inline-block").block.mt-4.text-teal-600.mr-10 Anunciar
            .flex.items-center
                div(class="lg:mr-0").mr-5
                    button(class="hover:text-gray-700").py-2.px-4.rounded-md.text-gray.text-lg Sign In
                    button(class="hover:bg-teal-600").py-2.px-4.bg-teal-500.rounded-md.text-lg Sign Up
                div(class="lg:hidden").block
                    button(class="focus:outline-none").flex.items-center.px-4.py-3.border.rounded.text-teal-500.border-teal-500
                        svg(viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg").fill-current.h-3 w-3
                            title Menu
                            path( d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
    .container.mx-auto
      block content