h1,h2,h3,h4,h5,h6,p,span,button,li{
    src: url("../fonts/OpenSans-Regular.ttf");
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 48px;
}
p, button, span, li, a{
    font-size: 28px;
}

@media screen and (min-width: 1020px){
    h1{
        font-size: x-large;
    }
    p, button, span, li, a{
        font-size: large;
    }
}